language: java
sudo: false
install: true
addons:
  sonarcloud:
    organization: "eplinglauren-github"
    token:
      secure: "8a47214efcd8b0dd647ed1a89a9cd1d6e04435a6"
jdk:
  - oraclejdk8
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
